.color-navbar { background-color: var(--unq-red); }

.menu-profile-navbar {
    width: inherit;
    text-align-last: right;
}

.separation { margin-left: 2%; }

.icon-profile-navbar {
    width: 50px;
    border-radius: 50px;
}

.logo-font-navbar {
    vertical-align: middle;
    margin-left: 2%;
    font-weight: 550;
}

.logo-navbar { width: 15%; }

.size-navbar { height: 8%; }

.font-navbarBrand { color: var(--unq-white) !important; }

#bar {
    margin-left: 6px;
}