.color-button {
    color: var(--unq-white) !important;
    background-color: var(--unq-red) !important;
    border-color: var(--unq-red) !important;
}

.color-button:hover {
    background-color: #a52f17 !important;
    border-color: #a52f17 !important;
}

.color-button:focus {
    background-color: #97301b !important;
    border-color: #97301b !important;
    box-shadow: 0 0 0 0.2rem rgba(197, 35, 19, 0.52) !important;
    outline: 0 !important;
}
.color-button.active{
    background-color: #ac2f16 !important;
    border-color: #ac2f16 !important;
}


.outline-branding-button {
    color: var(--unq-red) !important;
    border-color: var(--unq-red) !important;
}

.outline-branding-button:hover {
    color: #fff !important;
    background-color: #a52f17 !important;
    border-color: #a52f17 !important;
}

.outline-branding-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(197, 35, 19, 0.52) !important;
}

.outline-branding-button:active {
    color: #fff !important;
    background-color: #ac2f16 !important;
    border-color: #ac2f16 !important;
}

.outline-branding-button.active {
    color: #fff !important;
    background-color: #ac2f16 !important;
    border-color: #ac2f16 !important;
}

.branding-semantic-dropdown{
    background: var(--unq-red) none !important;
    color: var(--unq-white) !important;
}

.branding-semantic-dropdown:hover{
    background: #a52f17 none !important;
    color: #ffffffcc !important;
}

.branding-semantic-dropdown:focus{
    background: #a52f17 none !important;
    color: #ffffffcc !important;
}

.branding-semantic-dropdown:active{
    background: #97301b none !important;
    color: #ffffffe6 !important;
}