.Home { height: inherit; }

.main { height: 85%; }

.container {
    height: inherit;
    max-width: 100%;
    background-color: #e2e3de;
    margin-left: 1%;
    margin-right: 1%;
}

.col-Filter { padding-right: 4%; }

.col-Subjects { padding-right: 8%; }