.list-Group {
    width: 100%;
}

.list-Item {
    padding-top: 3px; 
    padding-bottom: 3px;
}

.hours-Title {
    padding-left: 6px; 
    padding-bottom: 3px;
}

.subject-Row {
    padding-left: 12px;
    margin-bottom: 6px;
}