.margin-top { margin-top: 100px; }

.app-Container {
    height: inherit;
    max-width: 98%;
}

.app-left-row { 
    width: 100%;
    height: 13%; 
}

.app-right-row { 
    width: 100%;
    height: 87%; 
}