.margin-top { margin-top: 100px; }

.app-container {
    height: inherit;
    max-width: 100%;
}

.app-left-row {
    height: 8%; 
}

.app-right-row {
    height: 92%;
}

@media (min-width: 768px) {
    .full-height-xs {
        height: 100% !important;
    }
}